*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url(img/5172658.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;
    background-color: rgb(20, 3, 32);
}

.logo{
    width: 60px;
    padding: 20px 0;
    cursor: pointer;
}

.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}

.content p {
    font-size: 18px;
    line-height: 1.6;
  }

.content h1{
    font-size: 84px;
    font-weight: 600;
    margin-bottom: 15px;
}
.content h1 span{
    color: #6d1170;
}
.content button{
    background: transparent;
    border: 3px solid #6d1170;
    outline: none;
    font-weight: bold;
    padding: 12px 25px;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
}
.launch-time{
    display: flex;
}
.launch-time div{
    flex-basis: 100px;
}
.launch-time div p{
    font-size: 60px;
    margin-bottom: 1px;
}
.rocket{
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}
@keyframes rocket{
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .container {
      padding: 0 5%;
    }

    .content{
        align-items: center;
        width: 90%;
        margin: auto;
    }
  
    .content p {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .content h1 {
      font-size: 50px;
    }
  
    .content button {
      padding: 10px 20px;
      font-size: 14px;
    }

    .launch-time{
        align-items: center;
        width: 95%;
        margin: auto;
    }
  
    .content .launch-time div p {
      font-size: 40px;
    }
  
    .rocket {
      width: 200px;
    }
  }
  
  /*@media screen and (max-width: 480px) {
    .container {
      padding: 0 3%;
    }
  
    .content h1 {
      font-size: 32px;
    }
  
    .content button {
      padding: 8px 16px;
      font-size: 12px;
    }
  
    .launch-time div p {
      font-size: 32px;
    }
  
    .rocket {
      width: 150px;
    }
  }